body {
	height: 100vh;
	background-image: url('./images/background.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;

}

.versusBtn {
	margin: 10px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.content {
	padding: 50px 0; 
}

.content .pokemons {
	flex-wrap: wrap;
	display: flex;  
	justify-content: center;
	max-width: 700px; 
	padding: 40px 20px;   
}

.content .pokemons .pokemon {
	box-sizing: border-box;
	width: 80px;
	height: 84px;
	border: 3px solid #fff;
	border-radius: 10px;
	background-color: #656565;
	transition: transform 0.15s; 
	transform: skewX(-20deg); 
	overflow: hidden;
	margin: 5px;
}

.content .pokemons .pokemon:hover {
	transform: scale(1.3) skewX(-20deg); /* -> transform 속성을 여러 개 사용할 때는 동시에 써줘야 한다. */
	z-index: 1;  /* -> hover 됐을 때, 다른 요소들보다 앞에 오도록 */
	background-color: #ff9c00;
}

.content .pokemons .pokemon .image {
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90px;
	transform: skewX(20deg); /* -> 이미지는 왜곡 없이 유지하기 위해 다시 반대 반향으로 변형 */
}

/* --> nth-child를 쓸 경우, 이 코드의 N자리에 1~32 숫자를 써서 코드 32개 작성하면 된다.*/
.pokemons .pokemon:nth-child(N) .image {
    background-image: url('./images/pokemonN.png');
}
/* 하지만 위의 방법을 쓰면 코드 반복이 많아지므로, 이 방식 대신 script에 함수를 만들어 해결함! */ 

.content .logo {
	width: 300px;   
	margin: 0 auto;   
}

.content .logo img {
	width: 100%;  
}



