body{
    background-color: beige;
}
h1{
    color : cornflowerblue;
    transition : color 0.5s;
}

.clicked{
    color : tomato;
}

.sexy-font{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}