body{ 
    background-color: #d2f3f8;
    font-family: sans-serif;
    display:flex;
    justify-content:center;
    height:100vh;
    align-items:center;

    

}

.content-wrapper{
    text-align: center;
    background-color: aliceblue;
    position:relative;
    
    
}


.container{
    overflow:hidden;/*이미지 너무 커서 발생*/
    display:flex;
    border-radius:10px;
    width: 500px;
    height: 300px;
    background-color: white;
    

}
.container .item {
    flex: 1;

}
.container .item .content-wrapper{
    box-sizing:border-box;
    padding: 20px 26px;
    width:100%;


}
.container .item img{
    width:100%;
}
.container .item .content-wrapper.tag
{
    color:purple;

}
.container .item .content-wrapper .title{
    font-size: 30px;
    font-weight:600;
    margin-top:2px;
    
}
.container .item .content-wrapper .description{
    color: gray;
    margin-top: 20px;
}