body{
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    width: 500px;
    height: 300px;
    background-color: white;
    
}

.item{
    flex: 1;

}

.container .itme img{
    width: 100%;
}

.container .item .content-wrapper {
    box-sizing: border-box;
    padding: 20px;
    width: 100px;
}

.container .item .content-wrapper .title {
    foot-size: 30px;
    margin-top: 2px;
    font-weight: 600;
}

.container .item .content-wrapper .description {
    color
}
.tag{
    color: purple;

}

.description{
    color: gray;
}
