body {
	height: 100vh;
	background-image: url('image/background.jpeg');
	background-color: #ff9c00;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container {
	padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
}

.container .pokemons {
	flex-wrap: wrap;
	flex-direction: row;
	max-width: 700px;
	padding: 40px 20px;

	display:flex;
	margin:auto;
	justify-content: center; 
	box-sizing:border-box;
	align-items: center;
	height: auto;
}

.container .pokemons .pokemon{
	
	width: 80px; height:84px;
	box-sizing: border-box;
	border:3px white;border-style:solid;
	transition: all 0.2s linear;
	transform: skew(-10deg) scale(1.0) ;
	border-radius: 10px;
	background-size: 110%;
	margin: 4px; 
	align-items: center;
	background-color: black; 
	position: relative; 
	overflow:hidden;
	
	
	
   
	
}


.container .pokemons .pokemon:hover {
	transform: skew(-10deg) scale(1.4);
	transition: transform 0.3s ease; 	
	background-color: #ff9c00;
	z-index: 2;
}
.container .pokemons .pokemon .image {
	
	width: 140%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size:90px;
	/*추가한거*/
	padding:100px;
	position:relative;
	margin:auto;
	transform: skew(10deg);	
}


.container .pokemons .pokemon:nth-child(1) {
    background-image: url('image/pokemon1.png'); 
}
.container .pokemons .pokemon:nth-child(2) {
    background-image: url('image/pokemon2.png'); 
}
.container .pokemons .pokemon:nth-child(3) {
    background-image: url('image/pokemon3.png');
}

.container .pokemons .pokemon:nth-child(4) {
    background-image: url('image/pokemon4.png');
}

.container .pokemons .pokemon:nth-child(5) {
    background-image: url('image/pokemon5.png');
}

.container .pokemons .pokemon:nth-child(6) {
    background-image: url('image/pokemon6.png');
}

.container .pokemons .pokemon:nth-child(7) {
    background-image: url('image/pokemon7.png');
}

.container .pokemons .pokemon:nth-child(8) {
    background-image: url('image/pokemon8.png');
}

.container .pokemons .pokemon:nth-child(9) {
    background-image: url('image/pokemon9.png');
}

.container .pokemons .pokemon:nth-child(10) {
    background-image: url('image/pokemon10.png');
}

.container .pokemons .pokemon:nth-child(11) {
    background-image: url('image/pokemon11.png');
}

.container .pokemons .pokemon:nth-child(12) {
    background-image: url('image/pokemon12.png');
}

.container .pokemons .pokemon:nth-child(13) {
    background-image: url('image/pokemon13.png');
}

.container .pokemons .pokemon:nth-child(14) {
    background-image: url('image/pokemon14.png');
}

.container .pokemons .pokemon:nth-child(15) {
    background-image: url('image/pokemon15.png');
}

.container .pokemons .pokemon:nth-child(16) {
    background-image: url('image/pokemon16.png');
}

.container .pokemons .pokemon:nth-child(17) {
    background-image: url('image/pokemon17.png');
}

.container .pokemons .pokemon:nth-child(18) {
    background-image: url('image/pokemon18.png');
}

.container .pokemons .pokemon:nth-child(19) {
    background-image: url('image/pokemon19.png');
}

.container .pokemons .pokemon:nth-child(20) {
    background-image: url('image/pokemon20.png');
}

.container .pokemons .pokemon:nth-child(21) {
    background-image: url('image/pokemon21.png');
}

.container .pokemons .pokemon:nth-child(22) {
    background-image: url('image/pokemon22.png');
}

.container .pokemons .pokemon:nth-child(23) {
    background-image: url('image/pokemon23.png');
}

.container .pokemons .pokemon:nth-child(24) {
    background-image: url('image/pokemon24.png');
}

.container .pokemons .pokemon:nth-child(25) {
    background-image: url('image/pokemon25.png');
}

.container .pokemons .pokemon:nth-child(26) {
    background-image: url('image/pokemon26.png');
}

.container .pokemons .pokemon:nth-child(27) {
    background-image: url('image/pokemon27.png');
}

.container .pokemons .pokemon:nth-child(28) {
    background-image: url('image/pokemon28.png');
}

.container .pokemons .pokemon:nth-child(29) {
    background-image: url('image/pokemon29.png');
}

.container .pokemons .pokemon:nth-child(30) {
    background-image: url('image/pokemon30.png');
}

.container .pokemons .pokemon:nth-child(31) {
    background-image: url('image/pokemon31.png');
}

.container .pokemons .pokemon:nth-child(32) {
    background-image: url('image/pokemon32.png');
}



.container .logo {
	max-width: 300px;
	margin: 0 auto;
}

.container .logo img {
	width:100%;
}
